<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <body class="bg-body-tertiary">

            <div class="container">
                <div class="row g-5 py-5 mx-3">
                    <h2>Editar Aluguel</h2>

                    <div class="col-md-7 col-lg-12">
                        <h4 class="my-3">Registro sobre o aluguel</h4>
                        <div>
                            <form class="needs-validatio was-validated" method="post" novalidate="">
                                <div class="row g-3">
                                    <div class="col-sm-4">
                                        <label for="validationCustom01">Selecionar o consumidor</label>
                                        <select class="form-select is-invalid" id="validationCustom01"
                                            name="costumer_id" aria-label="validationServer01Feedback" required>
                                            <option selected="" disabled="" value="">Escolha...</option>
                                            {{optionCostumer}}
                                        </select>
                                        <div class="valid-feedback">
                                            Consumidor(a) selecionado(a)!
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom02">Selecionar o livro</label>
                                        <select class="form-select is-invalid" id="validationCustom02" name="book_id"
                                            aria-label="validationServer02Feedback" required>
                                            <option selected="" disabled="" value="">Escolha...</option>
                                            {{optionBook}}
                                        </select>
                                        <div class="valid-feedback">
                                            Livro selecionado!
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom03">Selecionar o vendedor</label>
                                        <select class="form-select is-invalid" id="validationCustom03"
                                            name="employee_id" aria-label="validationServer03Feedback" required>
                                            <option selected="" disabled="" value="">Escolha...</option>
                                            {{optionEmployee}}
                                        </select>
                                        <div class="valid-feedback">
                                            Vendedor(a) selecionado(a)!
                                        </div>
                                    </div>
                                    <div class="col-sm-3 mt-2">
                                        <label for="validationCustom04" class="form-label">Data do
                                            aluguel</label>
                                        <input type="date" class="form-control" name="rental" id="validationCustom04"
                                            placeholder="0000-00-00" value="{{rental}}" required>
                                        <div class="invalid-feedback">
                                            É necessario digitar a data do aluguel.
                                        </div>
                                    </div>
                                    <div class="col-sm-3 mt-2">
                                        <label for="validationCustom05" class="form-label">Data previsão de
                                            devolução</label>
                                        <input type="date" class="form-control" name="delivery" id="validationCustom05"
                                            placeholder="0000-00-00" value="{{delivery}}" required>
                                        <div class="invalid-feedback">
                                            É necessario digitar a data da previsão de devolução.
                                        </div>
                                    </div>
                                </div>
                                <button class="w-20 my-4 btn btn-primary btn-ls" type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </div>
</main>