<main class="col-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <body class="bg-body-tertiary">

            <div class="container">
                <main>
                    <div class="py-5 ml-2">
                        <h2>{{title}}</h2>
                        <div class="mt-5">{{status}}</div>
                        <form class="row g-3 needs-validation my-4" method="post" id="authorForm" novalidate="">
                            <div class="col-md-4">
                                <label for="validationCustom01" class="form-label">Nome do autor</label>
                                <input type="text" class="form-control" id="validationCustom01" name="name"
                                    placeholder="Digite seu nome" value="{{name}}" required="">
                                <div class="valid-feedback">
                                    Nome preenchido!
                                </div>
                                <div class="invalid-feedback">
                                    É necessario inserir um nome.
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary mt-5" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </main>
            </div>

        </body>
    </div>
</main>
<script>
    const authorForm = document.getElementById('authorForm');

    authorForm.addEventListener('submit', function (event) {
        if (!authorForm.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        } else {
            console.log('Formulário enviado!');
        }

        authorForm.classList.add('was-validated');
    });
</script>