<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{author}}</h1>
                <p class="lead text-muted h">{{substitule}}</p>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container" >

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="500"
                            src="{{src}}" role="img" aria-label="SR"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        </img>

                        <div class="card-body text-center">
                            <h3 class="card-text">{{titule}}</h3>
                            <div class="d-flex justify-content-between align-items-center">
                                <p>{{describe}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>