<main class="col-md-9 ms-sm col-lg-10 px-md-5">
    <div class="pt-3 pb-2 mb-3 text-center">
        <h1 class="h2">Listagem de Livros</h1>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row g-1">
                <nav aria-label="Page navigation example ">
                    <ul class="pagination">
                        {{item}}
                    </ul>
                </nav>
                {{pagination}}
            </div>
        </div>
    </div>
</main>