<main class="col-md-9 ms-sm col-lg-6 px-md-5">
    <div class="pt-3 pb-2 mb-5 text-center">
        <h1 class="h2">Listagem de Autores</h1>
    </div>
    {{status}}
    <div class="table-responsive ">
        <table class="table table-striped table-ls ">
            <thead>
                <tr>
                    <th class="col-9" scope="col">Nome</th>
                    <th scope="col" class="text-success text-center">Editar</th>
                    <th scope="col" class="text-danger text-center">Deletar</th>
                </tr>
            </thead>
            <form action="" method="get">
                <tbody>
                    {{itens}}
                </tbody>
            </form>
        </table>
    </div>
</main>