<main class="col-md-9 ms-sm col-lg-9 px-md-5">
    <div class="pt-3 pb-2 mb-5 text-center">
        <h1 class="h2">Listagem de Alugueis</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-ls">
            <thead>
                <tr>
                    <th scope="col">Consumidor</th>
                    <th scope="col">Livro</th>
                    <th scope="col">Data do aluguel</th>
                    <th scope="col">Previsão de entrega</th>
                    <th scope="col">Funcionário responsável</th>
                    <th scope="col" class="text-success text-center">Editar</th>
                    <th scope="col" class="text-danger text-center">Deletar</th>
                </tr>
            </thead>
            <form action='' method='get'>
                <tbody>
                    {{item}}
                </tbody>
            </form>
        </table>
    </div>
</main>