<main class="col-md-9 ms-sm col-lg-8 px-md-5">
    <div class="text-center pt-3 pb-2 mb-5">
        <h1 class="h2">Listagem de Usuarios</h1>
    </div>
    {{status}}
    <div class="table-responsive">
        <table class="table table-striped table-ls">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Endereço</th>
                    <th scope="col" class="text-success text-center">Editar</th>
                    <th scope="col" class="text-danger text-center">Deletar</th>

                </tr>
            </thead>

            <form action="" method="get">
                <tbody>
                    {{item}}
                </tbody>
            </form>
        </table>
    </div>
</main>