<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <body class="bg-body-tertiary">

            <div class="container">
                <main>
                    <div class="py-5 text-center">
                        <div>
                            <h2>Aluguel de livros</h2>
                        </div>
                    </div>

                    <div class="row g-5">

                        <div class="col-md-7 col-lg-12">
                            <h4 class="mb-3">Registro sobre o aluguel</h4>
                            <form class="needs-validation" method="post" novalidate="">
                                <div class="row g-3">
                                    <div class="col-sm-3">
                                        <label for="floatingSelect">Selecionar o consumidor</label>
                                        <select class="form-select" id="floatingSelect" name="id_costumers_rental"
                                            aria-label="Floating label select example">
                                            <option selected></option>
                                            <option value='$row_costumers[id]'>$row_costumers[name]</option>
                                            <p style='color:red;'>Não foi realizadar a listagem com sucesso.</p>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="floatingSelect">Selecionar o livro</label>
                                        <select class="form-select" id="floatingSelect" name="id_book_rental"
                                            aria-label="Floating label select example">
                                            <option selected></option>
                                            <option value='$row_books[id]'>$row_books[titule]</option>
                                            <p style='color:red;'>Não foi realizadar a listagem com sucesso.</p>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <label for="floatingSelect">Selecionar o vendedor</label>
                                        <select class="form-select" id="floatingSelect" name="id_employees_rental"
                                            aria-label="Floating label select example">
                                            <option selected></option>
                                            <option value='$row_employees[id]'>$row_employees[name]</option>
                                            <p style='color:red;'>Não foi realizadar a listagem com sucesso.</p>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 mt-2">
                                        <label for="rental" class="form-label">Data do
                                            aluguel</label>
                                        <input type="date" class="form-control" name="rental" id="rental" value="">
                                        <div class="invalid-feedback">
                                            É necessario digitar a data do aluguel.
                                        </div>
                                    </div>
                                    <div class="col-sm-6 mt-2">
                                        <label for="delivery" class="form-label">Data previsão de
                                            devolução</label>
                                        <input type="date" class="form-control" name="delivery" id="delivery" value="">
                                        <div class="invalid-feedback">
                                            É necessario digitar a data da previsão de devolução.
                                        </div>
                                    </div>
                                </div>
                                <button class="w-20 my-4 btn btn-primary btn-ls" type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </body>
    </div>
</main>