<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <body class="bg-body-tertiary">

            <div class="container">
                <main>
                    <div class="py-5 text-center">
                        <h2>Cadastro de Funcionário(a)</h2>
                    </div>
                    <div class="row g-5">

                        <div class="col-md-7 col-lg-12">
                            <h4 class="mb-3">Registro de dados</h4>
                            <form class="needs-validation" method="post" novalidate="">
                                <div class="row g-3">
                                    <div class="col-sm-7">
                                        <label for="nome_employees" class="form-label">Nome completo</label>
                                        <input type="text" class="form-control" name="name" id="nome_employees"
                                            placeholder="Fulano da Silva " value="" required="">
                                        <div class="invalid-feedback">
                                            É necessario digitar o nome do funcionário(a).
                                        </div>
                                    </div>

                                    <div class="col-sm-5">
                                        <label for="pis_employees" class="form-label">PIS</label>
                                        <input type="number" class="form-control" min="1" name="pis" id="pis_employees"
                                            placeholder="123.45678.91-0" value="" required="">
                                        <div class="invalid-feedback">
                                            É necessario digitar o seu telefone.
                                        </div>
                                    </div>
                                    <div class="col-sm-4 mt-2">
                                        <label for="cargo_employees" class="form-lab  el">Cargo</label>
                                        <input type="text" class="form-control" name="office" id="cargo_employees"
                                            placeholder="Vendedor">
                                        <div class="invalid-feedback">
                                            Por favor, digite o cargo do funcionário(a).
                                        </div>
                                    </div>

                                    <div class="col-sm-4 mt-2">
                                        <label for="departamento_employees" class="form-lab  el">Departamento</label>
                                        <input type="text" class="form-control" name="departament"
                                            id="departamento_employees" placeholder="Vendas">
                                        <div class="invalid-feedback">
                                            Por favor, digite o departamento do funcionário(a).
                                        </div>
                                    </div>

                                    <div class="col-sm-2 mt-2">
                                        <label for="departamento_employees" class="form-lab  el">Livraria</label><br>
                                        <select class="form-select" id="floatingSelect" name="library_id"
                                            aria-label="Floating label select example">
                                            <option selected></option>
                                            <option value='$row_libraries[id]'>$row_libraries[name]</option>
                                            <p style='color:red;'>Não foi realizadar a listagem com sucesso.</p>
                                        </select>
                                    </div>
                                </div>
                                <button class="w-20 my-4 btn btn-primary btn-ls" type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </main>
            </div>

        </body>
    </div>
</main>