<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <body class="bg-body-tertiary">

            <div class="container">
                <main>
                    <div class="py-5 text-center">
                        <h2>Cadastro de Funcionário(a)</h2>
                    </div>
                    <div class="row g-5 px-5 mx-3">

                        <div class="col-md-7 col-lg-12">
                            <h4 class="mb-3">Registro de dados</h4>
                            <form class="needs-validation" method="post" id="employeeForm" novalidate="">
                                <div class="row g-3">

                                    <div class="col-sm-7">
                                        <label for="validationCustom01" class="form-label">Nome completo</label>
                                        <input type="text" class="form-control" name="name" id="validationCustom01"
                                            placeholder="Nome Completo" required="">
                                        <div class="valid-feedback">
                                            Nome preenchido!
                                        </div>
                                        <div class="invalid-feedback">
                                            É necessario digitar o nome do funcionário(a).
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <label for="validationCustom02" class="form-label">PIS</label>
                                        <input type="number" class="form-control" maxlength="15" name="pis"
                                            id="validationCustom02" placeholder="12345678910" required="">
                                        <div class="valid-feedback">
                                            PIS preenchido!
                                        </div>
                                        <div class="invalid-feedback">
                                            É necessario digitar o seu telefone.
                                        </div>
                                        <script>
                                            // Evita que o usuário digite mais do que 15 dígitos
                                            document.getElementById('validationCustom02').addEventListener('input', function () {
                                                if (this.value.length > this.maxLength) {
                                                    this.value = this.value.slice(0, this.maxLength);
                                                }
                                            });
                                        </script>
                                    </div>
                                    <div class="col-sm-4 mt-2">
                                        <label for="validationCustom03" class="form-label">Cargo</label>
                                        <input type="text" class="form-control" name="office" id="validationCustom03"
                                            placeholder="Vendedor" required="">
                                        <div class="valid-feedback">
                                            Cargo preenchido!
                                        </div>
                                        <div class="invalid-feedback">
                                            Por favor, digite o cargo do funcionário(a).
                                        </div>
                                    </div>

                                    <div class="col-sm-4 mt-2">
                                        <label for="validationCustom04" class="form-label">Departamento</label>
                                        <input type="text" class="form-control" name="departament"
                                            id="validationCustom04" placeholder="Vendas" required="">
                                        <div class="valid-feedback">
                                            Departamento preenchido!
                                        </div>
                                        <div class="invalid-feedback">
                                            Por favor, digite o departamento do funcionário(a).
                                        </div>
                                    </div>

                                    <div class="col-sm-2 mt-2">
                                        <label for="validationCustom05" class="form-label">Livraria</label><br>
                                        <select class="form-select" id="validationCustom05" name="library_id"
                                            aria-label="validationServer04Feedback" required="">
                                            <option selected="" disabled="" value="">Escolha...</option>
                                            <option value='1'>Livraria Pedbot</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Livraria selecionada!
                                        </div>
                                        <div class="invalid-feedback">
                                            Necessário selecionar a livraria.
                                        </div>
                                    </div>
                                </div>
                                <button class="w-20 my-4 btn btn-primary btn-ls" type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </main>
            </div>

        </body>
    </div>
</main>
<script>
    const employeeForm = document.getElementById('employeeForm');

    employeeForm.addEventListener('submit', function (event) {
        if (!employeeForm.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        } else{
            console.log('Formulário enviado!');
        }

        employeeForm.classList.add('was-validated');
    });
</script>