<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <body class="bg-body-tertiary">

            <div class="container">
                <main>
                    <div class="py-5 text-center">
                        <div>
                            <h2>Aluguel de livros</h2>
                        </div>
                    </div>

                    <div class="row g-5 px-5 mx-3">

                        <div class="col-md-7 col-lg-12">
                            <h4 class="mb-3">Registro sobre o aluguel</h4>
                            <form class="needs-validatio" method="post" id="rentalForm" novalidate="">
                                <div class="row g-3">
                                    <div class="col-sm-4">
                                        <label for="validationCustom01">Selecionar o consumidor</label>
                                        <select class="form-select" id="validationCustom01"
                                            name="costumer_id" aria-label="validationServer01Feedback" required>
                                            <option selected="" disabled="" value="">Escolha...</option>
                                            <option value='{{costumer_id}}'>{{costumer_name}}</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Consumidor(a) selecionado(a)!
                                        </div>
                                        <div class="invalid-feedback">
                                            Necessário selecionar um consumidor.
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom02">Selecionar o livro</label>
                                        <select class="form-select" id="validationCustom02" name="book_id"
                                            aria-label="validationServer02Feedback" required>
                                            <option selected="" disabled="" value="">Escolha...</option>
                                            <option value='{{book_id}}'>{{titule}}</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Livro selecionado!
                                        </div>
                                        <div class="invalid-feedback">
                                            Necessário selecionar um livro.
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="validationCustom03">Selecionar o vendedor</label>
                                        <select class="form-select" id="validationCustom03"
                                            name="employee_id" aria-label="validationServer03Feedback" required>
                                            <option selected="" disabled="" value="">Escolha...</option>
                                            <option value='{{employee_id}}'>{{employee}}</option>
                                        </select>
                                        <div class="valid-feedback">
                                            Vendedor(a) selecionado(a)!
                                        </div>
                                        <div class="invalid-feedback">
                                            Necessário selecionar um vendedor.
                                        </div>
                                    </div>
                                    <div class="col-sm-3 mt-2">
                                        <label for="validationCustom04" class="form-label">Data do
                                            aluguel</label>
                                        <input type="date" class="form-control" name="rental" id="validationCustom04"
                                            placeholder="0000-00-00" required>
                                        <div class="invalid-feedback">
                                            É necessario digitar a data do aluguel.
                                        </div>
                                    </div>
                                    <div class="col-sm-3 mt-2">
                                        <label for="validationCustom05" class="form-label">Data previsão de
                                            devolução</label>
                                        <input type="date" class="form-control" name="delivery" id="validationCustom05"
                                            placeholder="0000-00-00" required>
                                        <div class="invalid-feedback">
                                            É necessario digitar a data da previsão de devolução.
                                        </div>
                                    </div>
                                </div>
                                <button class="w-20 my-4 btn btn-primary btn-ls" type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </main>
            </div>
        </body>
    </div>
</main>
<script>
    const rentalForm = document.getElementById('rentalForm');

    rentalForm.addEventListener('submit', function (event) {
        if (!rentalForm.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
        } else{
            console.log('Formulário enviado!');
        }

        rentalForm.classList.add('was-validated');
    });
</script>